.cabecalho {
    align-items: center;
    background-color: var(--cor-de-fundo-branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao {
    display: none;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url("../img/Frame\ 20.svg");
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--cor-de-fundo-branco);
}

.lista-menu__titulo {
    color: var(--fonte-laranja);
    font-weight: 700;
}

.lista-menu__item a {
    text-decoration: none;
    text-transform: uppercase;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /*webkit: para adaptar em vários tipos de navegadores*/
    background-clip: text; /*como o linear-gradient não é aplicado em fontes, utilizamos o background-clip para aderi-lo apenas em textos*/
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__item a {
        color: var(--fonte-preta);
        text-decoration: none;
    }

    .container__imagem--transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--azul-degrade);
        color: var(--cor-de-fundo-branco);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--cor-de-fundo-branco);
        text-decoration: none;
    }
}

@media screen and (min-width:1728px) {
    .container__texto {
        display: block;
    }
    
    .cabecalho {
        padding: 0 2em;
    }
    
    .container__link {
        align-items: center;
        color: var(--fonte-preta);
        display: flex;
        font-size: 20px;
        text-decoration: none;
    }

    .opcoes {
        margin-right: auto;
    }
}
